#navigation_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    gap: 20px;
    border-bottom: 1px solid aquamarine;
}

#navigation_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    gap: 20px;
}

#navigation_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    gap: 20px;
}

#navigation_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    gap: 20px;
}


#section_1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 10px;

}

#section_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    padding: 10px;
}

#section_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
}

#section_1 img {
    width: 450px;
    height: 400px;
}

#section_2 img {
    width: 450px;
    height: 400px;
}

#section_3 img {
    width: 450px;
    height: 400px;
}

#bordure_containeur {
    display: flex;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}